/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/*Utilities*/


/*Float*/
.clearfix{
    content: ("");
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.bold{
    font-weight: 700;
}


/*dimension*/
.with-50per{
    width: 50%;
    height: auto;
}

.with-100per{
    width: 100%;
}

.height-60per{
    height: 60%;
}
.height-40per{
    height: 40%;
}

.w-40per{
    width: 40%;
}

.pdng-tp-200px{
    padding-top: 200px;
}

.mrg-bttm-150px{
    margin-bottom: 150px;
}

.mrg-bttm-30px{
    margin-bottom: 30px;
}

.mrg-bttm-50px{
    margin-bottom: 50px;
}


.mrg-rgt-40px{
    margin-right: 40px;
}

.mrg-tp-30px{
    margin-top: 30px;
}

.mrg-tp-50px{
    margin-top: 50px;
}

.mrg-tp-100px{
    margin-top: 100px;
}

.pdng-lft-30px{
    padding-left: 30px;
}

.pdng-tp-20px{
    padding-top: 20px;
}

.margin-lateral{
    margin: 0 54px;
}

.height-100per{
    height: 100%;
}

.w-70per{
    width: 70%;
}

.w-30per{
    width: 30%;
}

.w-20per{
    width: 20%;
}


/*tag*/

.big-h2{
    margin-bottom: 70px;
    font-size: 40px;
}

a{
    text-decoration: none;
}

p{
    line-height: 25px;
}

hr{
    width: 50px;
    background-color: rgb(165, 164, 164);
    border-width: 2px;
}

/*Button*/

.button{
    padding: 10px 15px;
    background-color: rgba(0, 97, 255, 1);
    color: white;
    border-style: none;
}

.button a{
    color: white;
}

/*Container*/
.small-container{
    width: 1090px;
    height: auto;
    margin: 0 auto;
}

.big-container{
    width: 1260px;
    margin: 0 auto;
}


/*Colors*/
.whiteblue{
    background-color: rgba(180, 208, 231, 1);
}

.blue{
    color: rgba(0, 97, 255, 1);
}

.transparent{
    background-color: transparent;
    border: 1px solid rgb(98, 98, 98);
    color: rgb(98, 98, 98);
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: rgba(162, 211, 155, 1);
}

.light-blue{
    background-color: rgba(0, 147, 206, 1);
}

.bordeau-color{
    color: rgba(97, 8, 43, 1);
}

.bordeau{
    background-color: rgba(97, 8, 43, 1);
}

.thrue-blue{
    background-color: rgba(13, 36, 129, 1);
}

.red1{
    background-color: rgba(255, 28, 28, 1);
}

.red2{
    background-color: rgba(213, 0, 31, 1);
}

.white{
    background-color: rgb(230, 222, 222);
}

/*Navigations*/

nav{
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav .elenco{
    display: inline-block;
    vertical-align: 7px;
}

nav .elenco li{
    display: inline-block;
    height: 80px;
    padding-top: 30px; 
}

nav .elenco li a{
    color: #000;
    font-weight: 600;
}

.shadow{
    width: 250px;
    height:auto;
    background-color: white;
    position: fixed;
    top: 80px;
    /*display: none;*/
    padding: 0 0 5px 5px;
    margin-top: -10px;
}

.elenco4:hover .shadow{
    display: block;
}

.shadow:hover .shadow{
    display: block;
}

/*Header Section*/

header{
    width: 100%;
    height: 730px;
    margin-top: 80px;
}

#title{
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 90px;
    margin-bottom: 40px;
}


.header-bottom1{
    width: 35%;
}

.header-bottom2{
    width: 65%;
}

.header-bottom1 button{
    font-size: 17px;
}

.header-bottom1 p{
    font-size: 18px;
}

.header-bottom1 span{
    display: block;
    font-size: 14px;
    margin-top: 15px;
}

.header-bottom2 img{
    width: auto;
    height: 470px;
    margin: auto;
}

.header-bottom1 div a{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

/*Main Section*/
.box-title{
    height: 160px;
}


.radio{
    display: inline-block;
}

.radio label{
    font-size: 20px;
}

.subscription{
    width: 100%;
    height: 1030px;
}

.central{
    margin: 0 54px;
}

.border{
    border-style:solid; 
    border-color: rgb(231, 228, 228); 
    border-width: 1px;
    padding: 10px;
}

.box-sub{
    height: auto;
    height: 1000px;
}

.title-sec{
    display: block;
    width: 30%;
    margin: auto; 
}

.h2-small{
    font-size: 30px;
}


.height-100per span{
    font-weight: 700;
    line-height: 50px;
}

.subtitle{
    display: block;
    color: grey;
    margin-top: -20px;
}

section li{
    list-style: none;
    font-size: 15px;
    margin-bottom: 20px;
}

.button-30g{
    width: 90%;
    margin-left: 10px;
    font-size: 17px;
}

.space li{
    margin-bottom: 25px;
}

/*Team Box*/

.team-box{
   margin-top: 60px;
   width: 100%;
   height: 230px;
}

.team-box .border span{
    display: block;
    width: 10%;
    margin: auto;
}


/*Partner Section*/
.img-section{
    width: 50%;
    height: auto;
}

.img-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-trasp{
    font-size: 18px;
}

/*Buisness Section*/


.card-col{
    width: 100%;
    height: 500px;
}

.card{
    height: 100%;
}

.img-card{
    width: 100%;
    height: 260px;
}

.img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*User Title*/
.user-title{
    display: inline-block;
    width: 544px;
    height: 210px;
    font-size: 23px;
    position: relative;
    left: 260px;
}

.user-title span{
    font-size: 16px;
    text-decoration: underline;
}


/*User Section*/
.section-blu{
    height: 850px;
}

.section-blu .height-100per .height-60per{
    width: 100%;
}

.height-60per aside{
    width: 30%;
    height: 100%;
}

.height-60per section{
    width: 40%;
    height: 100%;
}

.small-box{
    width: 50%;
    height: 50%;
    position: relative;
}

.small-box img{
    width: 50%;
    height: 55%;
    object-fit: contain;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.micro-box img{
    width: 150px;
    height: auto;
    margin-bottom: 40px;
}

.micro-box {
    width: 80%;
    height: 80%;
    margin: 40px auto;
}

.micro-box span{
    font-weight: 500;
}

.small-box img{
    filter: invert(100%);
}

.button-white{
    padding: 10px 20px;
    font-size: 17px;
    background-color: white;
    color: black;
    border-style: none;
    position: relative;
    left: 60%;
}

/*Request Section*/
.small-container h1{
    font-size: 40px;
}

.request{
    width: 100%;
    height: 110px;
}

.request span{
    line-height: 110px;
    padding-bottom: 50px;
    font-weight: 700;
}

.request p{
    display: none;
    margin-bottom: 20px;
}


.request:hover  p{
    height: auto;
    display: inline-block;
}

.request:hover{
    margin-bottom: 40px;
}

.hr-special{
    width: 100%;
    border-color: rgb(214, 212, 212);
    border-width: 1px;
}

.request span i{
    margin-left: 370px;
}

/*Footer Section*/
footer{
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
}

footer .up-section{
    width: 100%;
    height: 400px;
    padding-top: 100px;
}

footer .up-section li{
    margin: 5px 0;
}

footer .up-section hr{
    margin-top: 130px;
    width: 100px;
}

footer .down-section{
    padding-top: 50px;
    font-size: 14px;
}







