/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Utilities*/
.clearfix{
    content: ("");
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.with-50{
    width: 50%;
}

.mrg-rgt-40px{
    margin-right: 40px;
}

.pdng-lft-30px{
    padding-left: 30px;
}

a{
    text-decoration: none;
}

.button{
    padding: 5px 15px;
    background-color: rgba(0, 97, 255, 1);
    color: white;
}

.big-container{
    width: 1260px;
    margin: auto;
}

/*Navigations*/

nav{
    width: 100%;
    height: 80px;
}

nav ul{
    display: inline-block;
    vertical-align: 7px;
}

nav ul li{
    display: inline-block;
    padding-top: 30px; 
}

nav li a{
    color: #000;
    font-weight: 600;
}

/*Colors*/
.whiteblue{
    background-color: rgba(180, 208, 231, 1);
}

/*Header Section*/

header{
    width: 100%;
    height: 800px;
}

#title{
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 90px;
    margin-bottom: 40px;
}

.header-bottom1{
    width: 30%;
}

.header-bottom2{
    width: 70%;
}